@model IEnumerable<MVC_EntityFramework_Assignment2.Models.BusInformation>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BoardingPoint)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TravelDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DroppingPoint)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BoardingPoint)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TravelDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rating)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DroppingPoint)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BusID }) |
            @Html.ActionLink("Details", "Details", new { id=item.BusID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.BusID })
        </td>
    </tr>
}

</table>
