@model MVC_EntityFramework_Assignment1.Models.FootballLeague

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>FootballLeague</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TeamName1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TeamName1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TeamName2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TeamName2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MatchStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MatchStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WinningTeam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WinningTeam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Points)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Points)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MatchID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
